.title {
    font-size: 60px;
    font-weight: 800;
    color: white;
}

#binary {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.button {
    height: 35px;
    cursor: pointer;
    color: white;
    font-weight: 800px;
    background-color: black;
    border-radius: 5px;
    border: groove;
    border-color: #222222;
    margin-left: 20px;
}

.form-div{
    background-color: #282c34; 
    margin: 0 auto;
    width: 300px;
}

.answer-box{
    height: 75px;
    width: 200px;
    background-color: black;
    border: groove;
    border-color: #222222;
    margin: 50px 10px 10px 30px;
}

.answer{
    color: white;
    font-size: 35px;
    font-weight: 800px;
    margin-top: 15px;
}